.chart {
  .axis-text {
      font: 16px sans-serif;
      font-weight:bold;
      color:#000;
  }
}
.triggerBlock {
  font: 10px sans-serif;
  color:'green';
  display: 'none';
}
/*
.axis path, .axis line {
  fill: none;
  stroke: #000;
}
*/