@import './patials/choose-role.scss';
@import './patials/edit-forms.scss';
@import 'o-colors/main';
body {
  @include oColorsFor(page);
}
.hideSec {
  display: none;
}
.chart {
  .axis-text {
      font: 16px sans-serif;
      font-weight:bold;
      color:#000;
  }
}

.svgContainer {
  width:100%;
  svg {
    margin: 30px auto;
    display: block;
  }
}
.triggerText {
  font: 14px sans-serif;
  z-index:15;
}

