<h1>Hello Analytics Reporting API V4</h1>

<p>
  <!-- The Sign-in button. This will run `queryReports()` on success. -->
  <div class="g-signin2" data-onsuccess="queryReports"></div>
</p>

<!-- The API response will be printed here. -->
<textarea cols="80" rows="20" id="query-output"></textarea>

<script>
  // Replace with your view ID.
  var VIEW_ID = '10995661';
  /*
  var gaData = {
    date:[],
    clickFromRecommends:[],
    clickFromRelatives:[],
    inViewFromRecommends:[],
    inViewFromRelatives:[]
  }
  */
  // Query the API and print the results to the page.
  function queryReports() {
    gapi.client.request({
      path: '/v4/reports:batchGet',
      root: 'https://analyticsreporting.googleapis.com/',
      method: 'POST',
      body: {
        reportRequests: [
          /**构建reportRequests对象。
           * batchGet 方法最多接受五个 ReportRequest 对象。
           * 所有请求都应该有相同的 dateRange、viewId、segments、samplingLevel 和 cohortGroup。
           */
          {
            viewId: VIEW_ID,//有效数据视图ID
            dateRanges: [//该字段至少有一个有效条目,默认为{"startDate": "7daysAgo", "endDate": "yesterday"}
              {
                startDate: '2017-04-01',//'2017-04-01',
                endDate: '2017-04-12',//'2017-04-01'
              }
            ],
            metrics: [//该字段中至少有一个有效条目
              {
                expression: 'ga:totalEvents'
              }
            ],
            dimensions:[
              {
                name:'ga:eventCategory'
              },
              {
                name:'ga:eventAction'
              },
              {
                name:'ga:date'
              }
            ],
            dimensionFilterClauses:[
              {//1.得到(Event Category)In Story Recommend  (EventAction)002click_fromRecommends|002click_fromRelatives
                filters: [ 
                  {
                    dimensionName: 'ga:eventCategory',
                    operator: 'EXACT',//	The value should match the match expression entirely(完全匹配expressions)
                    expressions: ['In Story Recommend'],
                    caseSensitive:true//是否区分大小写？默认为false
                  },  
                ]
              },
            ]
           
          },
          {/// 2.得到(Event Category)story (Event Action)In view (Event Label)from_recommends|from_relatives
            viewId: VIEW_ID,//有效数据视图ID
            dateRanges: [//每个Request至多可以有两个dateRange,该字段至少有一个,默认为{"startDate": "7daysAgo", "endDate": "yesterday"}
              {
                startDate: '2017-04-01',
                endDate: '2017-04-12'
              }
            ],
            metrics: [//一系列定量测定方法，每个request中至少有一个测定方法，最多有10个测定方法
              {
                expression: 'ga:totalEvents',//测定方法的表达式
                //alias:'',//an alternate name for the expression.
                formattingType:'INTEGER'//Specifies how the metric expression should be formatted
              }
            ],
            dimensions:[//就是每个数据的属性，每个数据最多可以有7个属性（即7个dimensions）
              {
                name:'ga:eventCategory'
              },
              {
                name:'ga:eventAction'
              },
              {
                name:'ga:eventLabel'
              },
              {
                name:'ga:date'
              }
            ],
            dimensionFilterClauses:[//用于过滤dimension的数组，项目之间的逻辑是AND
              {
                operator:'OR',//指明怎样组合filters,默认就是'OR',可为'OR'或'AND'
                filters:[//一组过滤器，根据上述operator的值来决定怎样组合
                  {
                    dimensionName:'ga:eventCategory',//待过滤的dimension名称
                    operator:'EXACT',//指明怎样将dimensinoName和expression匹配，默认是REGEXP(即正则匹配)，'EXACT'是完全相等
                    expressions:'story',//Strings or regular expression to match against. Only the first value of the list is used for comparison unless the operator is IN_LIST(为数组或字符串或正则。只有当operator为'IN_LIST'时，整个数组才有用；operator如果不为'IN_LIST',那么只有数组的第一项有用)
                  }
                ]
              },
              {
                 filters:[
                   {
                      dimensionName:'ga:eventAction',
                      operator:'EXACT',
                      expressions:'In View',
                    }
                  ]
              },
              {
                filters:[
                  {
                    dimensionName:'ga:eventLabel',
                    operator:'IN_LIST',
                    expressions:['from_recommends','from_relatives'],
                  }
                ]
              }
            ]
           
          }
        ]
      }
    }).then(displayResults, console.error.bind(console));
  }

  function displayResults(response) {
    var gaData = {
      dates:[],
      clickFromRecommends:[],
      clickFromRelatives:[],
      inViewFromRecommends:[],
      inViewFromRelatives:[]
    }
    /*
    var dates = [], 
        clickFromRecommends = [], 
        clickFromRelatives = [], 
        inViewFromRecommends = [], 
        inViewFromRelatives = [];
    */
    var clickDatas = response.result.reports[0].data.rows;
    for(var i = 0,len = clickDatas.length;i<len;i++) {
      var clickData = clickDatas[i];
      /** clickData长这样：
          {
              "dimensions": [
                "In Story Recommend",
                "Click-002from_recommends",
                "20170401"
              ],
              "metrics": [
                {
                  "values": [
                    "1052"
                  ]
                }
              ]
          }
       */
      var date = clickData.dimensions[2];
      var value = clickData.metrics[0].values[0];
      if(dates.indexOf(date) < 0) {
        gaData.dates.push(date);
      }
      if(clickData.dimensions[1] === 'Click-002from_recommends') {
        gaData.clickFromRecommends.push(value);
      } else if(clickData.dimensions[1] === 'Click-002from_relatives') {
        gaData.clickFromRelatives.push(value);
      }
    }

    
    //var formattedJson = JSON.stringify(response.result, null, 2);
    var formattedJson = JSON.stringify(gaData);
    document.getElementById('query-output').value = formattedJson;
  }
</script>

<!-- Load the JavaScript API client and Sign-in library. -->
<script src="https://apis.google.com/js/client:platform.js"></script>


