<h1>First：Click SignedIn Button, Get the Ga Data</h1>


<p>
  <!-- The Sign-in button. This will run `queryReports()` on success. -->
  <div class="g-signin2" data-onsuccess="queryReports"></div>
</p>

<!-- The API response Raw Data will be printed here. -->
<h2>The Raw Data From Ga API</h2>
<div>
<textarea cols="80" rows="20" id="response-rawdata"></textarea>
</div>
<!-- The API response will be printed here. -->
<div>
<textarea cols="80" rows="20" id="query-output"></textarea>
</div>


<!-- Load the JavaScript API client and Sign-in library. -->


